APP_ENV=local
HTTP_PORT=8080
LOG_LEVEL=debug

DB_HOST=localhost
DB_PORT=5432
DB_USER=subscriptions
DB_PASSWORD=subscriptions
DB_NAME=subscriptions
DB_SSLMODE=disable
# DB_DSN=postgres://subscriptions:subscriptions@localhost:5432/subscriptions?sslmode=disable
